%% -*- erlang -*-
{erl_opts, []}.

{eunit_compile_opts, [{src_dirs, ["src", "test"]}]}.

{lfe_first_files, ["src/levaindoc-util.lfe"]}.

{deps,
 [{lfe, {git, "git://github.com/rvirding/lfe", {tag, "0.10.1"}}},
  {clj, {git, "git://github.com/lfex/clj.git", {tag, "0.3.0"}}}]}.

{plugins,
 [{'lfe-compile',
   {git, "git://github.com/lfe-rebar3/compile.git",
    {branch, "master"}}}]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.

{lodox,
 [{apps,
   [{'levaindoc',
     [{'source-uri',
       "https://github.com/quasiquoting/levaindoc/blob"
       "/{version}/{filepath}#L{line}"}]}]}]}.

{profiles,
 [{doc, [{plugins,
          [{lodox,
            {git, "git://github.com/quasiquoting/lodox.git",
             {tag, "0.12.5"}}}]}]},
  {test, [{deps,
           [{ltest,
             {git, "git://github.com/lfex/ltest.git",
              {tag, "0.7.0"}}}]}]}]}.
