%% -*- erlang -*-
{erl_opts, []}.

{eunit_compile_opts, [{src_dirs, ["src", "test"]}]}.

{lfe_first_files, ["src/levaindoc-util.lfe"]}.

{deps, [lfe, clj]}.

{plugins, [rebar3_lfe_compile]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.

{project_plugins, [
  {lodox, {git, "git://github.com/lfe-rebar3/lodox.git", {tag, "0.12.12"}}}
]}.

{lodox, [
  {apps, [
    {levaindoc, [
      {'source-uri',
       "https://github.com/quasiquoting/levaindoc/blob"
       "/{version}/{filepath}#L{line}"}
    ]}
  ]}
]}.
