%% -*- erlang -*-

{lfe_first_files, ["src/levaindoc-util.lfe"]}.

{lfe_opts, [{i,"_build/default/lib"}]}.

{plugins, [
  {'lfe-compile', "0.8.0-rc2", {pkg, rebar3_lfe_compile}}
]}.

{provider_hooks, [{pre, [{app_compile, {lfe, compile}}]}]}.

{deps, [{lfe, "1.2.0"}]}.

%% {project_plugins, [
%%   {lodox, {git, "git://github.com/lfe-rebar3/lodox.git", {tag, "0.15.1"}}}
%% ]}.

%% {lodox, [
%%   {apps, [
%%     {levaindoc, [
%%       %% {'output-path', "docs"}, % TODO: hex+hexdocs
%%       {'source-uri',
%%        "https://github.com/quasiquoting/levaindoc/blob"
%%        "/{version}/{filepath}#L{line}"},
%%       %% This is too ridiculous, otherwise...
%%       {'excluded-modules', [levaindoc]}
%%     ]}
%%   ]}
%% ]}.
